@page
@model TimeQueriesModel
@{
    ViewData["Title"] = "Home page";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">List of requests</h3>

                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Client IP</th>
                            <th>Time</th>
                            <th>UTC Time</th>

                        </tr>
                        @foreach (var item in Model.TimeQueries)
                        {
                            <tr>
                                <td>@item.CurrentTimeQueryId</td>
                                <td>@item.ClientIp</td>
                                <td>@item.Time</td>
                                <td>@item.UTCTime</td>
                            </tr>
                        }

                    </table>
                </div>

            </div>
        </div>
    </div>

</section>
<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Invoke API</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">

                <div class="row">
                    <div class="col-md-6">
                        <div id="form-data">
                            <ul class="list-group">
                                <li id="Utc" class="list-group-item"></li>
                                <li id="Server" class="list-group-item"></li>
                                <li id="clientIP" class="list-group-item">  </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="form-group pull-right">
                        <input id="invoke-btn" type="submit" value="Invoke Api" class="btn btn-info" />
                    </div>
                </div>
           
        </div>
    </div>
</section>

<section class="content">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Time Converter</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="box-body">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Choose Timezone</label>
                        @Html.DropDownListFor(m => m.RequestedTimezone, Model.TimeZoneInfos, "Select Classification", new { style = "width:100%;", @class = "form-control select2" })
                    </div>


                </div>
                <div class="col-md-6">
                    <div id="time-handler">

                    </div>
                </div>
            </div>
            <div class="box-footer">
                <div class="form-group pull-right">
                    <input type="button" id="timeBtn" value="Get Time" class="btn btn-info" />
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        $("#timeBtn").on('click', function () {
            var selectedTimezone = $("#RequestedTimezone option:selected").val();
            $.ajax({
                url: 'https://localhost:44340/api/CurrentTime/' + selectedTimezone,
                type: 'GET',
                dataType: 'json',
                success: function (data, textStatus, xhr) {
                    console.log(data);
                    $("#time-handler").html('<h2>' + data + '</h2>');
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });
        });
        $("#invoke-btn").on('click', function () {
            var selectedTimezone = $("#RequestedTimezone option:selected").val();
            $.ajax({
                url: 'https://localhost:44340/api/CurrentTime',
                type: 'GET',
                dataType: 'json',
                success: function (data, textStatus, xhr) {
                    console.log(data);
                    $("#clientIP").text('Client IP ' +data.clientIp);
                    $("#Server").text('Server Time '+data.utcTime);
                    $("#Utc").text('UTC Time ' +data.time);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log('Error in Operation');
                }
            });
        });
    });

</script>
}